.App {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

button {
    width:100%;
    height: 35px;
    color: #6496c8;
    background: rgba(0, 0, 0, 0);
    border: solid 2px #6496c8;
}

button:hover {
    border-color: #346392;
    color: #346392;
}

button:active {
    border-color: #27496d;
    color: #27496d;
}