.Answer-header{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.Answer-header p {
    font-size: 18px;
    margin-bottom: 35px;
}

.Answer-header p:first-letter {
    text-transform:capitalize;
    font-weight: bold;
}

.Answer-question {
    margin:15px auto;
    max-width: 500px;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px 0;
}

.Answer-question:hover {
    background-color: lightcyan;
}

.Answer-question.selected {
    background-color: cornflowerblue;
}

.question-appear {
    opacity: 0.01;
}

.question-appear.question-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.progress-bar-container {
    position: absolute;
    top:0;
    left:0;
    height: 5px;
    width:100%;
    background: #cee2ff;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.progress-bar-container > span {
    display: block;
    height: 100%;
    background-color: cornflowerblue;
    position: relative;
    overflow: hidden;
}